<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vinyler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/filterrecom.css}"/>
</head>

<body>
<div th:insert="fragments/header.html"></div>
<div class="text-center">
    <br/>
    <div th:switch="${recommendedRecord != null}">
        <h2 th:case="${true}" th:inline="text" style="color:darkslateblue">

            You haven't listened to [[${recommendedRecord?.recordName}]] by [[${recommendedRecord?.artistName}]] since
            [[${recommendedRecord?.lastPlayed}]]
        </h2>
        <h2 th:case="*" th:inline="text" style="color:darkred">
            There are not enough records to give a recommendation
        </h2>
    </div>
    <form class="form-select-sm" style="" th:action="@{/index}" method="post">
        <select id="genre" name="genre" class="form-control" required>
            <option value="" disabled selected>Genre</option>
            <option value="Hip Hop">Hip Hop</option>
            <option value="Rap">Rap</option>
            <option value="Techno">Techno</option>
            <option value="RnB">RnB</option>
            <option value="Punk">Punk</option>
            <option value="Alt Rock">Alt Rock</option>
            <option value="House">House</option>
            <option value="Country">Country</option>
            <option value="Indie">Indie</option>
            <option value="Electro">Electro</option>
            <option value="Other">Other</option>
        </select>
        <input type="submit" class="w-30 btn btn-sm btn-outline-success" value="Filter">
    </form>
</div>
<div class="add-record container-xl">
    <table class="table table-bordered">
        <thead class="table-dark">
        <th>ID</th>
        <th>Name</th>
        <th>Artist Name</th>
        <th>Genre</th>
        <th>Number of Plays</th>
        <th>Last Played</th>
        </thead>
        <tbody class="table-striped">
        <tr th:each="record : ${records}">
            <td th:text="${record.recordId}"></td>
            <td th:text="${record.recordName}"></td>
            <td th:text="${record.artistName}"></td>
            <td th:text="${record.genre}"></td>
            <td th:text="${record.numOfPlays}"></td>
            <td th:text="${record.lastPlayed}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>